{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3 mt-3">
    <h1 class="text-center">register</h1>

    {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group mt-3">
        {{ field }} 
        <div class="form-text">
          {{ field.help_text }}
        </div>
      </div>
      {% endfor %}

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary mt-3">register</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
